$breakpoint-phone-min: 0px;
$breakpoint-phone-max: 599px;

$breakpoint-tablet-min: 600px;
$breakpoint-tablet-max: 991px;

$breakpoint-laptop-min: 992px;
$breakpoint-laptop-max: 1199px;

$breakpoint-desktop-min: 1200px;
