.backgroundImage {
    background-image: url('../assets/mountains.jpg');
    background-repeat: no-repeat;
    height: calc(100vh - 60px);
    background-size: cover;
}

.overlay {
    background-color: rgba(73,73,73,.73);
    height: 100%;
    position: relative;
}

.overlay h1 {
    font-family: 'PT Sans', sans-serif;
    font-weight: bold;
    font-size: 96px;
    color: white;
    text-shadow: 0px 9px 20px rgba(0,0,0,.3);
    line-height: 82px;
}

.textCont {
    padding: 100px 0 0 100px;
    z-index: 1;
    position: relative;
}

.button {
    margin-top: 20px;
    border: none;
    width: 228px;
    height: 76px;
    background-color: #FC3A51;
    border-radius: 5px;
    font-family: 'PT Sans', sans-serif;
    font-size: 36px;
    color: white;
    box-shadow: 0 6px 10px rgba(0,0,0,.25);
    outline: none;
}

.button:active {
    box-shadow: none;
    background-color: #f13349;
}

.lines {
  position: absolute;
  top: 0;
  height: 100%;
  z-index: 0;
  width: 100%;
}

.lines > path {
  stroke: #CCC;
  stroke-opacity: 0.15;
  stroke-width: 2;
}
