@import "../../styles/_variables.scss";

.navigation {
    background-color: #222222;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.navigation > h1,
.navigation a {
    font-family: 'PT Sans', sans-serif;
    color: white;
    text-decoration: none;
}

.title {
    color: white;
    padding: 0 20px;
    margin: 0;
    font-weight: bold;
    font-size: 36px;
}

.linkWrapper {
    display: flex;
    justify-content: center;
    padding: 15px;
}

.linkWrapper a {
    color: white;
    text-decoration: none;
    padding: 15px;
    font-size: 18px;
    transition: color .3s;
}

.linkWrapper a:hover {
    color: #e2e2e2;
}

.menuIcon {
    > img {
        margin-bottom: 0;
        padding: 0 20px;
        display: block;
    }
}

@media (max-width: $breakpoint-phone-max) {
    .linkWrapper {
        display: none;
    }
}

@media (min-width: $breakpoint-tablet-min) {
    .menuIcon {
        display: none;
    }
}
